<div class="row" ng-cloak>
  <!-- <div ng-repeat="column in vc.columns"> -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div ng-repeat="post in vc.vm.posts">
        <post post="post"></post>
      </div>
    </div>
  </div>

  <div ng-hide="vc.vm.posts.length">
    <div class="col-sm-12 no-posts-here">
      <em>There are no posts here :(</em>
    </div>
    <div class="col-sm-12 no-posts-here">
      <a gatilho="btn_addPost" class="btn btn-primary" href="#/addPost">Add post</a>
    </div>
  </div>
</div>