.form-input {
    @include transition(all ease-in .5s);

    &.input-error {
        color: $color-error;
        // forçando para tela de settings
        border-bottom-color: $color-error !important;
        @include box-shadow(0 10px 10px -10px rgba($color-error, .5));
    }
}

.form-msg {
    &.form-msg-error {
        color: $color-error;
    }
}