<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-offset-3">
    <form role="form">
      <h2>Log in</h2>
      <hr class="colorgraph">
      <div class="form-group">
          <input type="email" name="email_address" id="email_address" class="form-control input-lg" placeholder="Email Address" tabindex="1">
        </div>
        <div class="form-group">
          <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="2">
        </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <hr class="colorgraph">
      <div class="form-group">
        <input class="btn btn-lg btn-primary btn-block" type="submit" tabindex="3" value="Log In">
      </div>
    </form>
  </div>
</div>