<div class="col-md-4 col-md-offset-4">
  <div class="well" ng-show="vc.auth.loggedUser">
    <form role="form" class="settings" ng-submit="vm.update()">
<!--       <div class="form-group">
        <label for="settings__email">Email</label>
        <input type="text" class="form-control" id="settings__email" ng-model="vc.auth.loggedUser.email" placeholder="ex. john@example.com" />
      </div> -->

      <div class="form-group">
        <label gatilho="password" for="settings__password">New Password</label>
        <input type="password" class="form-control" id="settings__password" ng-model="vc.vm.password" placeholder="ex. notgoogleplus" />
      </div>

      <div class="form-group">
        <label gatilho="password_confirmation" for="settings__confirm-password">Confirm Password</label>
        <input type="password" class="form-control" id="settings__confirm-password" ng-model="vc.vm.confirm_password" placeholder="ex. notgoogleplus" />
      </div>

<!--       <div class="form-group">
        <label for="settings__username">Username</label>
        <input type="text" class="form-control" id="settings__username" ng-model="vc.auth.loggedUser.username" placeholder="ex. notgoogleplus" />
      </div>
 -->
      <div class="form-group">
        <button gatilho="btn_submit" type="submit" class="btn btn-primary">Submit</button>
        <!-- <button type="button" class="btn btn-danger pull-right" ng-click="vc.destroy()">Delete Account</button> -->
      </div>
    </form>
  </div>
</div>